.LandingContent {
  position: relative;
  flex: 1 0 auto;

  /* Background image for big desktops */
  background-image: url(../assets/the-battle-of-waterloo.jpg?size=1920);
  background-position: center;
  background-size: cover;
}

/* Background image for retina big desktops */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .LandingContent {
    background-image: url(../assets/the-battle-of-waterloo.jpg?size=3840);
  }
}

/* Background image for desktops */
@media (max-width: 1800px) {
  .LandingContent {
    background-image: url(../assets/the-battle-of-waterloo.jpg?size=1800);
  }
}

/* Background image for retina desktops */
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1800px),
  (min-resolution: 192dpi) and (max-width: 1800px) {
  .LandingContent {
    background-image: url(../assets/the-battle-of-waterloo.jpg?size=3600);
  }
}

/* Background image for tablet landscape */
@media (max-width: 1200px) {
  .LandingContent {
    background-image: url(../assets/the-battle-of-waterloo.jpg?size=1200);
  }
}

/* Background image for retina tablet landscape */
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1200px),
  (min-resolution: 192dpi) and (max-width: 1200px) {
  .LandingContent {
    background-image: url(../assets/the-battle-of-waterloo.jpg?size=2400);
  }
}

/* Background image for tablet */
@media (max-width: 900px) {
  .LandingContent {
    background-image: url(../assets/the-battle-of-waterloo.jpg?size=900);
  }
}

/* Background image for retina tablet */
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 900px),
  (min-resolution: 192dpi) and (max-width: 900px) {
  .LandingContent {
    background-image: url(../assets/the-battle-of-waterloo.jpg?size=1800);
  }
}

/* Background image for phone */
@media (max-width: 600px) {
  .LandingContent {
    background-image: url(../assets/the-battle-of-waterloo.jpg?size=600);
  }
}

/* Background image for retina phone */
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 600px),
  (min-resolution: 192dpi) and (max-width: 600px) {
  .LandingContent {
    background-image: url(../assets/the-battle-of-waterloo.jpg?size=1200);
  }
}

.LandingContent:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  z-index: 0;
}

.LandingContainer {
  position: relative;
  padding: 0 24px;
  margin: 0 auto;
  max-width: 480px;

  z-index: 1;
}

.TitleContainer {
  font-size: 32px;
  color: #ffffff;

  margin: 0 -16px;
  padding: 0 60px 60px;
  text-align: center;
  /* Base gold frame image */
  background-image: url(../assets/gold-frame.png?size=512);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Gold frame image for retina screens */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .TitleContainer {
    background-image: url(../assets/gold-frame.png?size=1024);
  }
}

@media (max-width: 420px) {
  .TitleContainer {
    padding: 0 48px 48px;
  }
}

.Title {
  margin: 0;
  padding: 8px;
  padding-bottom: 16px;
  font-size: inherit;
}

.Pink {
  color: #ff206e;
}

.Yellow {
  color: #fbff12;
}

.Cyan {
  color: #41ead4;
}

.Paragraph {
  margin: 16px 0;
  font-size: 18px;
  text-indent: 1em;
}

.Paragraph:first-of-type {
  margin-top: 32px;
}

.Paragraph:last-child {
  margin-bottom: 32px;
}

.Link {
  color: #ffffff;
  text-decoration-color: #bcbdbc;
}
